* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #041126;
    --main-color: #257DE1;
    --second-color: #94a3b8;
    --other-color: #ffffffb3;
    --border-color: #e5e7eb;

    --h1-font: 4.7rem;
    --h2-font: 3.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 30px 15%;
    transition: all .7s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlist {
    width: 100vw;
}

.navlist a {
    display: inline-block;
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffff;
    margin: 0 25px;
    transition: all .7s ease;
}

.navlist a:hover {
    color: #257DE1;
}

#menu-icon {
    font-size: 40px;
    z-index: 10001;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}



section {
    padding: 90px 15% 80px;
}

.contact {
    background: #161c28;
}

.q-links h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-color);
}

.f-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust columns to fit the available space */
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-size: 17px;
    color: var(--second-color);
    margin-bottom: 0.9rem;
    transition: all .7s ease;
}

.footer-links i {
    font-size: 18px;
    margin-right: 4px;
}

.footer-links a:hover {
    transform: translateY(-5px);
    color: var(--bg-color);
}

.end-text p {
    text-align: center;
    margin-top: 5rem;
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
}

.top {
    position: fixed;
    bottom: 3rem;
    right: 3.5rem;
}

.top i {
    padding: 17px;
    background: var(--main-color);
    font-size: 25px;
    color: var(--bg-color);
    border-radius: 2rem;
}


@media(max-width: 1900px) {
    header {
        padding: 20px 4%;
    }
    header.sticky {
        padding: 14px 4%;
    }
    section {
        padding: 80px 4% 70px;
    }
}

@media(max-width: 1300px) {
    :root {
        --h1-font: 4rem;
        --h2-font: 2.8rem;
        --p-font: 1rem;
    }
}

@media(max-width: 1100px) {
    header {
        padding: 20px 4%;
    }
    
    header.sticky {
        padding: 14px 4%;
    }
    
    section {
        padding: 80px 4% 70px;
    }
    .home-contain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
    }
}

@media(max-width: 930px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 80px 50px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        transition: all .7s ease-in-out;
    }
    .navlist a {
        display: block;
        padding: 0;
        margin: 0px 0px 35px 0px;
        font-size: 2.1rem;
        font-weight: 500;
    }
    .navlist.open {
        left: 0;
    }
}

@media(max-width: 800px) {
    .home {
        height: 107vh;
    }
    .arrow {
        display: none;
    }
    .h-img {
        width: 80px;
        height: 80px;
    }
    .h-img img {
        height: 80px;
        width: 80px;
        max-width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
    .home-contain {
        gap: 2rem;
    }
    .about {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}