* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #041126;
    --main-color: #257DE1;
    --second-color: #94a3b8;
    --other-color: #ffffffb3;
    --border-color: #e5e7eb;

    --h1-font: 4.7rem;
    --h2-font: 3.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

/* Custom Cursor */
#custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Cursor Shadow */
.cursor-shadow {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 77, 77, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9998; /* Slightly behind the main cursor */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 30px 15%;
    transition: all .7s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlist {
    width: 100vw;
}

.navlist a {
    display: inline-block;
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffff;
    margin: 0 25px;
    transition: all .7s ease;
}

.navlist a:hover {
    color: #257DE1;
}

#menu-icon {
    font-size: 40px;
    z-index: 10001;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.testimonial-row {
    display: grid; /* Using Grid layout */
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 40px; /* 40px gap between each testimonial */
    width: 100%;
    max-width: 1200px; /* Optional: Max width for larger screens */
    margin: 0 auto;
}

.testimonial-right {
    position: relative;
    border-radius: 20px;
    padding: 30px 20px;
    background: var(--main-color);
    box-shadow: 0px 5px 40px rgba(19, 8, 73, 0.13);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.t-img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.t-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--bg-color);
}

.t-text {
    text-align: center;
    margin-top: 30px;
}

.t-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--bg-color);
    line-height: 24px;
    margin-bottom: 15px;
}

.t-star {
    text-align: center;
    margin: 10px 0;
}

.t-star i {
    display: inline-block;
    font-size: 20px;
    color: #f8c245;
    margin: 0 2px;
}

.t-in {
    width: 100%;
    text-align: center;
}

.td-text h3 {
    line-height: 1.2;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    background: var(--bg-color);
    padding: 10px 20px;
    border-radius: 30px 30px 30px 0px;
    display: inline-block;
    margin-bottom: 5px;
}

.td-text span {
    color: #000000;
    line-height: 1;
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    width: fit-content;
    margin: 0 auto;
}


section {
    padding: 90px 15% 80px;
}

.contact {
    background: #161c28;
}

.q-links h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-color);
}

.f-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust columns to fit the available space */
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-size: 17px;
    color: var(--second-color);
    margin-bottom: 0.9rem;
    transition: all .7s ease;
}

.footer-links i {
    font-size: 18px;
    margin-right: 4px;
}

.footer-links a:hover {
    transform: translateY(-5px);
    color: var(--bg-color);
}

.end-text p {
    text-align: center;
    margin-top: 5rem;
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
}

.top {
    position: fixed;
    bottom: 3rem;
    right: 3.5rem;
}

.top i {
    padding: 17px;
    background: var(--main-color);
    font-size: 25px;
    color: var(--bg-color);
    border-radius: 2rem;
}


@media(max-width: 1900px) {
    header {
        padding: 20px 4%;
    }
    header.sticky {
        padding: 14px 4%;
    }
    section {
        padding: 80px 4% 70px;
    }
}

@media(max-width: 1300px) {
    :root {
        --h1-font: 4rem;
        --h2-font: 2.8rem;
        --p-font: 1rem;
    }
}

@media(max-width: 1100px) {
    header {
        padding: 20px 4%;
    }
    
    header.sticky {
        padding: 14px 4%;
    }
    
    section {
        padding: 80px 4% 70px;
    }
    .home-contain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
    }
}

@media(max-width: 930px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 80px 50px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        transition: all .7s ease-in-out;
    }
    .navlist a {
        display: block;
        padding: 0;
        margin: 0px 0px 35px 0px;
        font-size: 2.1rem;
        font-weight: 500;
    }
    .navlist.open {
        left: 0;
    }
}

@media(max-width: 800px) {
    .home {
        height: 107vh;
    }
    .arrow {
        display: none;
    }
    .h-img {
        width: 80px;
        height: 80px;
    }
    .h-img img {
        height: 80px;
        width: 80px;
        max-width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
    .home-contain {
        gap: 2rem;
    }
    .about {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}

@media(max-width: 700px) {
    .testimonial {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .t-img {
        position: absolute;
        top: -10%;
        left: -1%;
    }
    .c-gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }
    .c-img {
        width: 130px;
        height: 130px;
    }
}


/* cursor - line 30 */